@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    height: 80vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F0F0F0;
}
.titulo-destaque{
    color: #22D4FD;
}
.apresentacao{
    margin: 9%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.apresentacao__conteudo{
    width: 615px;
    
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao_links_subtitulo{
    font-family: 'krona one', 'sans-serif';
    font-weight: 400;
    font-size: 24;
}
.apresentacao__links__link{
    border: 2px solid #22D4FD;
    color: #f6f6f6f6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 378px;
    text-align: center;
    border-radius: px;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration: none;
}s